.wrapper {
  .header {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
    }
  }
  .my-location {
    ::ng-deep .mat-card {
      background-color: #eafffc;
    }
  }
  .card-list {
    display: flex; flex-wrap: wrap; justify-content: center;
  }
}
