<div class="wrapper">
  <div class="header">
    <img src="https://i.pinimg.com/originals/d9/d2/82/d9d282bfd1842ef06e706a12679e7e49.jpg" alt="">
    Weather
  </div>
  <app-weather-search></app-weather-search>

  <div class="card-list">
    <ng-container *ngIf="myLocation">
      <app-weather-widget [city]="myLocation" class="my-location"></app-weather-widget>
    </ng-container>
    <ng-container *ngFor="let city of cities$ | async">
      <app-weather-widget [city]="city" [canRemove]="true"></app-weather-widget>
    </ng-container>
  </div>
</div>
